.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #2c2f33;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #7289da;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-background-color: white;
    -fx-border-color: #7289da;
}